.uw-datepicker-container {
  position: relative;
}
.uw-datepicker-container:before,
.uw-datepicker-container:after {
  content: " ";
  display: table;
}
.uw-datepicker-container:after {
  clear: both;
}
.uw-datepicker-container .ui-datepicker-trigger {
  float: right;
  right: 0px;
  top: 8px;
}
.item-pull-left {
  float: left !important;
}
.item-pull-right {
  float: right !important;
}
#ugyfel-edit-tabs .ui-tabs-panel .uw-ugyfelkezelo-form-row .selector {
  width: 412px;
}
.uw-ugyfelkezelo-form {
  background: url(/images/admin/line.png) bottom left repeat-x;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 10px;
}
.uw-ugyfelkezelo-form .tab-szemelyes-adatok-cim .selector,
.uw-ugyfelkezelo-form .tab-szemelyes-adatok-cim input {
  margin: 10px !important;
}
.uw-ugyfelkezelo-form-row {
  margin-bottom: 20px;
  position: relative;
}
.uw-ugyfelkezelo-form-row:before,
.uw-ugyfelkezelo-form-row:after {
  content: " ";
  display: table;
}
.uw-ugyfelkezelo-form-row:after {
  clear: both;
}
.uw-ugyfelkezelo-form-row label {
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px;
  width: auto;
}
.uw-ugyfelkezelo-form-row-input {
  max-width: 100% !important;
  min-width: 150px !important;
  width: auto !important;
}
.uw-ugyfelkezelo-form-row:last-child {
  margin-bottom: 0px;
}
.uw-ugyfelkezelo-form-row.uw-ugyfelkezelo-form-row-inline {
  display: inline-block;
  margin-bottom: 0px;
}
.uw-ugyfelkezelo-form-row.uw-ugyfelkezelo-form-row-inline label {
  float: left;
  display: inline-block;
  line-height: 32px;
  margin-bottom: 0px;
  padding-right: 16px;
  width: 170px;
}
.uw-ugyfelkezelo-form-row.uw-ugyfelkezelo-form-row-inline input[type="text"] {
  float: left;
  display: inline-block;
}
.uw-ugyfelkezelo-form-yes-no {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  max-width: auto;
  min-width: 80px;
  width: auto;
}
.uw-ugyfelkezelo-form-yes-no label {
  margin: 0px;
  padding: 0px;
}
.uw-ugyfelkezelo-form-client-info-chkbox {
  float: left;
  max-width: 100%;
  min-width: 80px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  width: auto;
}
.uw-ugyfelkezelo-form-client-info-chkbox label {
  margin-bottom: 0px;
}
.uw-ugyfelkezelo-form-client-info-chkbox.uw-ugyfelkezelo-form-client-info-chkbox-with-text {
  clear: both;
}
.uw-ugyfelkezelo-form-client-info-chkbox.uw-ugyfelkezelo-form-client-info-chkbox-with-text input[type="text"],
.uw-ugyfelkezelo-form-client-info-chkbox.uw-ugyfelkezelo-form-client-info-chkbox-with-text input[type="password"] {
  float: right;
  margin-left: 0px;
  margin-top: 0px;
  max-width: 100%;
  min-width: 150px;
  width: auto;
}
.uw-ugyfelkezelo-form-client-info-chkbox.uw-ugyfelkezelo-form-client-info-chkbox-with-text label {
  max-width: 100% !important;
  min-width: 200px !important;
  width: auto !important;
  margin-top: 0px;
}
.uw-ugyfelkezelo-form-client-info-chkbox label {
  float: left;
  max-width: 100%;
  min-width: 80px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  width: auto;
}
.uw-ugyfelkezelo-label {
  padding: 2px 11px;
}
label.uw-ugyfelkezelo-label {
  text-shadow: none;
  margin-left: 0px;
  margin-right: 0px;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-first {
  margin-top: 0px;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-darkorange {
  background: #b37300;
  color: #000000;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-darkred {
  background: #a31919;
  color: #ffffff;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-grey {
  background: #666666;
  color: #ffffff;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-orange {
  background: orange;
  color: #000000;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-salmon {
  background: salmon;
  color: #000000;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-yellow {
  background: yellow;
  color: #000000;
}
.uw-ugyfelkezelo-label.uw-ugyfelkezelo-label-white {
  background: #ffffff;
  color: #000000;
}
#user-edit-tabs {
  width: 99%;
}
#user-edit-tabs li.ui-state-active a {
  color: #009966 !important;
}
#user-edit-tabs .uw-user-edit-tabs-orange {
  color: orange;
}
#user-edit-tabs .uw-user-edit-tabs-salmon {
  color: salmon;
}
#user-edit-tabs .uw-user-edit-tabs-yellow {
  color: yellow;
}
#user-edit-tabs .uw-ugyfelkezelo-input-textarea-megjegyzes {
  margin: 0px;
  min-height: 180px;
  width: 98%;
}
#ugyfel-edit-tabs,
.form_muvelet {
  display: none;
}
#uw-ugyfelkezelo-loader {
  background: #f5f5f5;
  border: 1px solid #CBCBCB;
  margin: 0 auto;
  min-height: 300px;
  position: relative;
  width: 96%;
}
#uw-ugyfelkezelo-loader-text {
  color: #777777;
  bottom: 60px;
  font-size: 1.5em;
  font-style: italic;
  margin: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#tab-ugyfel-informacio .tab-ugyfel-informacio-btn-tab-edit {
  position: absolute;
  right: 0;
  top: 0;
}
#tab-ugyfel-informacio .uw-ugyfelkezelo-form-row.uw-ugyfelkezelo-form-row-inline.tab-ugyfel-informacio-input-inline {
  margin-right: 16px;
  width: 45%;
}
#tab-ugyfel-informacio .uw-ugyfelkezelo-form-row.uw-ugyfelkezelo-form-row-inline.tab-ugyfel-informacio-input-inline input[type="text"] {
  width: 70% !important;
}
#tab-ugyfel-informacio #field-lakcim input[type="text"] {
  margin-right: 20px;
  width: 26%;
}
#tab-ugyfel-informacio #field-label-hirlevel {
  float: left !important;
  min-width: 200px;
  padding-right: 10px;
}
#tab-szemelyes-adatok .uw-ugyfelkezelo-form-row.uw-ugyfelkezelo-form-row-inline.tab-ugyfel-informacio-input-inline {
  margin-right: 16px;
  width: 45%;
}
#tab-szemelyes-adatok .uw-ugyfelkezelo-form-row.uw-ugyfelkezelo-form-row-inline.tab-ugyfel-informacio-input-inline input[type="text"] {
  width: 70% !important;
}
#tab-szemelyes-adatok-statusz-row .tab-ugyfel-informacio-input-inline {
  width: 33% !important;
}
#tab-szemelyes-adatok-statusz-row .tab-ugyfel-informacio-input-inline .selector {
  width: 60% !important;
}
#field-szemelyes-adatok-idotartam {
  max-width: 20% !important;
  width: auto !important;
}
#field-szemelyes-adatok-idotartam label {
  width: auto !important;
}
#field-szemelyes-adatok-idotartam input {
  max-width: 20% !important;
}
#tab-munkaeropiaci-helyzete label.item-pull-left {
  width: 70%;
}
#tab-munkaeropiaci-helyzete .uw-datepicker-container .ui-datepicker-trigger {
  right: 55px;
}
#tab-projektinformaciok label.item-pull-left {
  width: 70%;
}
#tab-munkakorokmunkarend-munkarend .uw-ugyfelkezelo-form-client-info-chkbox {
  width: 33%;
}
#tab-munkakorokmunkarend #jobForm {
  margin: 0 auto;
  width: 98%;
}
#tab-munkakorokmunkarend #jobForm:before,
#tab-munkakorokmunkarend #jobForm:after {
  content: " ";
  display: table;
}
#tab-munkakorokmunkarend #jobForm:after {
  clear: both;
}
#tab-munkakorokmunkarend #jobForm .shpt-form-controls {
  clear: both;
  padding-top: 14px;
  text-align: center;
}
#tab-munkakorokmunkarend #jobForm .shpt-form-job {
  float: left;
  margin: 12px 16px;
  width: 31%;
}
#tab-munkakorokmunkarend #jobForm .shpt-form-job .shpt-form-heading {
  text-align: center;
}
#tab-munkakorokmunkarend #jobForm .shpt-form-job .shpt-form-body .selector {
  margin-bottom: 10px;
  width: 97%;
}
#tab-munkakorokmunkarend #jobForm .shpt-form-job .shpt-form-body select,
#tab-munkakorokmunkarend #jobForm .shpt-form-job .shpt-form-body input[type="text"] {
  margin: 0 auto;
  width: 94%;
}
#tab-nytszgp #educationForm {
  margin: 0 auto;
  width: 98%;
}
#tab-nytszgp #educationForm:before,
#tab-nytszgp #educationForm:after {
  content: " ";
  display: table;
}
#tab-nytszgp #educationForm:after {
  clear: both;
}
#tab-nytszgp #educationForm .shpt-form-controls {
  clear: both;
  padding-top: 14px;
  text-align: center;
}
#tab-nytszgp #educationForm .shpt-form-education {
  float: left;
  margin: 12px 16px;
  width: 31%;
}
#tab-nytszgp #educationForm .shpt-form-education .shpt-form-heading {
  text-align: center;
}
#tab-nytszgp #educationForm .shpt-form-education .shpt-form-body .selector {
  width: 97%;
}
#tab-nytszgp #educationForm .shpt-form-education .shpt-form-body input[type="text"] {
  margin: 0 auto;
  width: 94%;
}
#tab-nytszgp #knowledgeForm {
  margin: 0 auto;
  width: 98%;
}
#tab-nytszgp #knowledgeForm:before,
#tab-nytszgp #knowledgeForm:after {
  content: " ";
  display: table;
}
#tab-nytszgp #knowledgeForm:after {
  clear: both;
}
#tab-nytszgp #knowledgeForm .shpt-form-controls {
  clear: both;
  padding-top: 14px;
  text-align: center;
}
#tab-nytszgp #knowledgeForm .shpt-form-knowledge {
  float: left;
  margin: 12px 16px;
  width: 22%;
}
#tab-nytszgp #knowledgeForm .shpt-form-knowledge .shpt-form-heading {
  text-align: center;
}
#tab-nytszgp #knowledgeForm .shpt-form-knowledge .shpt-form-body .selector {
  width: 97%;
}
#tab-nytszgp #cKnowledgeForm {
  margin: 0 auto;
  width: 98%;
}
#tab-nytszgp #cKnowledgeForm:before,
#tab-nytszgp #cKnowledgeForm:after {
  content: " ";
  display: table;
}
#tab-nytszgp #cKnowledgeForm:after {
  clear: both;
}
#tab-nytszgp #cKnowledgeForm .shpt-form-controls {
  clear: both;
  padding-top: 14px;
  text-align: center;
}
#tab-nytszgp #cKnowledgeForm .shpt-form-cknowledge {
  float: left;
  margin: 12px 16px;
  width: 31%;
}
#tab-nytszgp #cKnowledgeForm .shpt-form-cknowledge .shpt-form-heading {
  text-align: center;
}
#tab-nytszgp #cKnowledgeForm .shpt-form-cknowledge .shpt-form-body input[type="text"] {
  margin: 0 auto;
  width: 94%;
}
#tab-nytszgp #cKnowledgeFormAddBtn {
  width: auto;
}
#tab-allaskeresesi-aktivitas #mediationForm {
  margin: 0 auto;
  width: 98%;
}
#tab-allaskeresesi-aktivitas #mediationForm:before,
#tab-allaskeresesi-aktivitas #mediationForm:after {
  content: " ";
  display: table;
}
#tab-allaskeresesi-aktivitas #mediationForm:after {
  clear: both;
}
#tab-allaskeresesi-aktivitas #mediationForm .shpt-form-controls {
  clear: both;
  padding-top: 14px;
  text-align: center;
}
#tab-allaskeresesi-aktivitas #mediationForm .shpt-form-mediation {
  float: left;
  margin: 12px 16px;
  width: 31%;
}
#tab-allaskeresesi-aktivitas #mediationForm .shpt-form-mediation .shpt-form-heading {
  text-align: center;
}
#tab-allaskeresesi-aktivitas #mediationForm .shpt-form-mediation .shpt-form-body input[type="text"] {
  margin: 0 auto;
  width: 94%;
}
.uw-ugyfelkezelo-client-contact-table tbody tr td:nth-child(1) {
  font-size: 10px;
  width: 35% !important;
}
.uw-ugyfelkezelo-client-contact-table tbody tr td:nth-child(1) * {
  margin: 0px;
  padding: 0px;
}
.uw-ugyfelkezelo-client-contact-table tbody tr td:nth-child(2) {
  width: 12%;
}
.uw-ugyfelkezelo-client-contact-table tbody tr td:nth-child(4) {
  width: 18%;
}
.uw-ugyfelkezelo-client-contact-table tbody tr td:last-child button {
  border: 1px solid;
  border-color: #999999;
  height: 32px;
  width: 32px;
}
.uw-ugyfelkezelo-client-contact-table tfoot tr td button {
  border: 1px solid !important;
  border-color: #999999 !important;
  height: 32px !important;
  width: 100px !important;
}
.uw-ugyfelkezelo-service-option {
  padding-bottom: 10px;
  padding-top: 10px;
}
.uw-ugyfelkezelo-service-option-service-name,
.uw-ugyfelkezelo-service-option-checkbox-label {
  color: #666;
  display: inline-block;
}
.uw-ugyfelkezelo-service-option-service-name {
  font-size: 14px;
  font-weight: bold;
  width: 55%;
}
.uw-ugyfelkezelo-service-option-checkbox-label {
  margin: 0px;
  padding: 0px;
  width: 22%;
}
#birthdata-birthplace-info {
    display: block;
}
#birthdata-birthplace-edit {
    display: none;
}
.form-actions {
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    right: -12px;
    top: -12px;
}
.form-actions li {
    display: inline-block;
}
.form-actions li a {
    display: block;
}
.form-actions li button, .form-actions li a {
    height: 46px;
    text-align: center;
    width: 50px;
}
.form-actions li button {
    background: none;
    border: none;
    margin: 0px;
}
    
.shpt-address-edit-current {
    color: #000;
    font-size: 10px !important;
    float: right;
    margin-right: 10px;
    width: 110px;
}
.shpt-address-edit-row {
    display: none !important;
}
.shpt-address-info-row {
    display: block !important;
}

#client-information-comments-textarea {
    height: 600px;
    width: 98%;
}